<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <h1>My Notes</h1>
    <!-- Form -->
     <form action="/add-note" method="POST">
        <input type="text" name="title" placeholder="Enter title" required />
        <br><br>

        <textarea name="content" placeholder="write your note.............." required></textarea>
        <br><br>

        <button type="submit">Create Note</button>

     </form>

     <hr>
     <!-- show notes-->
      <div class="notes">
        <% notes.forEach(note =>{ %>
            <%- include('partials/card',{note}) %>
        <% }) %>

      </div>

</body>
</html>